/* Estilos para el formulario */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f0f8ff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

/* Estilos para los elementos del formulario */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #007BFF;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para el botón de envío y borrado*/
form input[type="submit"],[type="reset"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 4px;
}

form input[type="submit"]:hover,[type="reset"]:hover {
    background-color: #0056b3;
}