table{
    border:solid #000 1px;
    border-collapse:collapse;
    margin: 4vh auto;
    font-size:1.6vw;
    width: 30vw;
    text-align:center;
}

th,td{
    border:solid #000 1px;
}

td:nth-child(odd){
    background-color: #6dc353a3;
}

td:nth-child(even) {
    background-color: #0e447bb5;
    color: #fff;
}